@media screen and (max-width: 767px) {
   
    .has-bg {

        &:before {
            content: "";
            border-radius: 0;
            left: 0px;
            right: 0px;
        }
    }
   
    .registration-img {
        img {
            max-width: 100%;
    }
 }
}