@media screen and (max-width: 1024px) {
    
    h1,
    .h1 {
        font-size: 32px;
    }
    h2,
    .h2 {
        font-size: 30px;
    }
    h3,
    .h3 {
        font-size: 16px;
    }
    
    h4,
    .h4 {
        font-size: 18px;
    }
    
    h5,
    .h5 {
        font-size: 16px;
    }
    
    h6,
    .h6 {
        font-size: 14px;
    }
    
    .banner-title,
    .banner-subtitle {
        max-width: 260px;
    }
    
    
        .container {
            padding-right: $container-mobile-padding;
            padding-left: $container-mobile-padding;
        }
        .container-xxl {
            padding: 0;
        }
  
    .header {
        padding: 18px 0 39px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 72px;
            background-color: #282B38;
            z-index: 2;
        }
    }
    

    .header-logo-img {
        max-width: 100px;
    }
    .header-nav {
        flex-direction: column; 
        background-color: $bg-secondary;
        position: absolute;
        top: -510px;
        left: 0;
        z-index: 1;
        padding: 28px 0 60px 0;
        transition: .7s;
        box-shadow: 14px 22px 40px 0 #20254547;

        &.show {
            top: 72px;
        }
    &__list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }
}

.header-list-link {
    font-size: 19px;
    line-height: 166%;
    padding: 0;
}

.btn-primary {
padding: 22px 23px;
max-width: 295px;
font-size: 14px;
justify-content: center;
margin: 0 auto;
}

.hamburger {
    z-index: 2;
}

.header-logo-link {
    z-index: 2;
}

section.first-screen {
    margin-bottom: 55px;
}

.first-screen {
    .container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 26px 40px;
        position: relative;
        z-index: 1;
    }

   
}

.slick-track::before {
    contain: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #04091199;
}
.banner-item {
    border-radius: 0;
}

.banner-title,
.banner-subtitle {
    max-width: 260px;
}

.banner-title {
    margin-bottom: 8px;
}

.banner-subtitle {
    margin-bottom: 22px;
}

.calculation-form {
    min-width: 100%;
    padding: 52px 27px 34px;
    margin: 0 auto;
    margin-bottom: 100px;


    .row {
        flex-direction: column;

        .btn {
            margin: 0 auto;
            width: 100%;
        }
    }
}

.calculation-decoration {
    display: none;
}

.template-title {
    h2 {
        font-size: 24px;
        text-align: center;
    }
} 

     /*type 2*/ 
.template-title {        
    &.col-lg-7 {
        margin-bottom: 56px;
        
        &:after {
            display: inline-block;
        }

        h2 {
            &:after {
                display: none;
            }
        }
    }
}

.btn-lg {
    width: 100%;
}
.mobile-center {
    text-align: center;
}
}