@media screen and (max-width: 1400px) {
    .slider-template {
        max-width: 780px;
        margin: 0 auto;
    }
}







@media screen and (max-width: 1355px) {
    .first-screen {
        .container {
            padding: 0 92px;
        }
    }

    .calculation-decoration {
        img {
            max-width: 100%;
        }
    }
}




@media screen and (max-width: 1199px) {
    .header-nav__list {
        gap: 20px;
    }
    .header-list-link {
        padding: 16px 7px 10px;
    }

    .registration-row-1:nth-child(2) {
        flex-direction: column-reverse;
     }
     .registration-row {
        justify-content: center;
     }
     .registration-row-2 {
         flex-direction: column;
     }

     .template-title {
        h2 {
            text-align: center;
        }
     }
}
