.about {
   
    .template-title {
        &.col-lg-7 {
            text-align: left;

            &:after {
                display: none;
            }
    
            h2 {
               
                &:after {
                    display: block
                }
            }
        }
    }
    
}

.about .container{
    justify-content: flex-start;
}

.about-row {
    display: flex;
    gap: 35px;
}
   

.about-decoration {
        margin: -176px 0 0 -29px;
        height: auto;
        img {
            max-width: 550px;
        }
    
} 

p {
    margin-bottom: 29px;
    font-size: 18px;
    font-weight: 300;
    line-height: 157%;
}