.advantages {
    .template-title {
        text-align: center;
        padding-bottom: 18px;
        margin-bottom: 50px;
        position: relative;
    
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: calc(100% - 6px);
            transform: translate(-50%, 0);
            width: 85px;
            height: 2px;
            background-color: $color-secondary;
        }
    }
}

.slider-advantages {
    margin: -24px 0;
    
}
.default-bg-lg {
    padding: 0;
    margin: 0;
}
.advantages-item {
    text-align: center;
    margin: 24px 0;
}

.advantages__img-wrapper {
    width: 113px;
    height: 113px;
    border: 1px solid #6C7188;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 22px;
    padding: 10px;
    border-radius: 50%;
}

.advantages__img {
    background-color: $color-secondary;
    width: 93px;
    height: 93px;
    object-fit: scale-down;
    border-radius: 50%;
}

.advantages__title {
    font-weight: 400;
    // max-width: 200px;
    margin: 0 auto;
}
.slider-advantages {
    position: relative;
}