.calculation {
   
    .template-title {
       
        &.col-lg-7 {
            margin-bottom: 30px;
            margin-left: 0;
            text-align: left;

            &:after {
                display: none;
            }
    
            h2 {

                &:after {
                    display: inline-block;
                }
            }
        }
    }
    
}

.input-wrapper {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   position: relative;

   &.controlled-wrapper {
    margin-bottom: 8px;
   }

   &.file-wrapper {
    padding-top: 46px;
   }
}

label {
    font-weight: 600;
    font-size: 15px;
    line-height: 126%;
    margin-bottom: 6px;
}

input {
    border-radius: 10px;
    padding: 16px 42px;
    width: 100%;
    border: none;
    transition: .3s;
    @include fieldState;
    

    &::placeholder {
        font-weight: 400;
        font-size: 15px;
        line-height: 126%;
        color: #cbcbcb;
    }
    &[type=file] {
        display: none;
    }
}

[type=file]+label {
    @extend input;
    border: 1px dashed #ffffff42;
    padding: 11px 14px;
    text-align: center;
    border-radius: 10px;
}

.file-name {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 15px;
}

.calculation-form {
    max-width: 626px; 
    background: $bg-secondary;
    border-radius: 20px;
    padding: 50px 48px 61px;
    margin-top: 0;
    margin-bottom: 100px;

    .col {
        padding: 0 15px;
    }

    .controlled-col {
        padding-top: 23px;
    }
}
.calculation-row {
    display: flex;
    align-items: flex-start;
}
.calculation-decoration {
    margin: -176px 0 0 -29px;
    height: auto;
    img {
        max-width: calc(100% + 46px);
    }
}