.delivery {
    .template-title {
        margin-bottom: 27px;
    }
}

.template-title {

	&::after {
		content: "";
		position: absolute;
		left: 53.5%;
		top: calc(100% - 2px);
		transform: translate(-50%, 0);
		width: 85px;
		height: 2px;
		background-color: $color-secondary;
	}
}
.template-card {
    background-color: $bg-secondary;
    border-radius: 20px;
    padding: 0 20px 27px;
    max-width: 360px;
    min-height: 481px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
   .img-box {
    margin: 0 -20px 29px;
    img {
        border-radius: 19px 19px 0 0;
        height: 229px;
        width: 100%;
        object-fit: cover;
    }
    
   }

}

.slider-template {
    .template-card {
        margin: 40px auto;
        // margin: 0 auto;
        margin-bottom: 32px;
    }
    
    
.slick-dots {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        justify-content: center;
    }

    .slick-arrow {
        position: absolute;
        right: -100px;
        top: calc(50% - 10px);
        transform: translate(0, -50%);
        z-index: 1;
        &.slick-prev {
            transform: translate(0, -50%) rotate(180deg);
            right: initial;
            left: -100px;
        }
      
}

}

.template-card-title {
    text-align: center;
    margin-bottom: 12px;
}
.template-card-options {
    display: flex;
    justify-content: center;
    gap: 31px;
    margin-bottom: 6px;
}
.card-option {
    display: flex;
    gap: 9px;
}
.card-option-weight {
    img {
        margin-right: 0;
    }
}
.template-card-price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 5px;
    margin-bottom: 10px;

    span {
        color: #a3a3a3;
        font-size: 22px;
        &:last-child {
            color: #fff;
        }
    }

    b {
        font-size: 45px;
        margin-left: 8px;
    }
}
.template-card-row {
    display: flex;
    gap: 14px;

    .btn {
        justify-content: center;
        width: 50%;
        max-width: 153px;
        padding: 13px 10px;
    }

}