section.first-screen {
    margin-bottom: 97px;
}

.banner-item {
    padding: 165px 0 228px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    
}

.banner-title {
    max-width: 463px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.banner-subtitle {
    max-width: 345px;
    margin-bottom: 37px;
    font-weight: 300;
}


.first-screen {
    position: relative;
    .slick-arrow {
        transform: translate(0, -50%);
        &.slick-prev {
            transform: translate(0, -50%) rotate(180deg);
        }
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 43px;
        display: flex;
        justify-content: center;
       
    }

    .btn-lg {
        padding: 19.6px 28px;
    }

}

.first-screen-arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1566px;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slick-track {
	display: flex;
}

.slick-arrow {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330.002 330.002' xml:space='preserve'%3E%3Cpath id='XMLID_226_' d='M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21 l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001 c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z'/%3E%3C/svg%3E");
	position: absolute;
	top: 50%;
	z-index: 1;
	font-size: 0;
	width: 92px;
	height: 92px;
	border: none;
	background: center no-repeat transparent;
	

	&:hover {
		background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 330.002 330.002' xml:space='preserve'%3E%3Cpath id='XMLID_226_' d='M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21 l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001 c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z'/%3E%3C/svg%3E");
	}

	&.slick-prev {
		transform: rotate(180deg);
	}
}



ul.slick-dots {
	padding: 0;
	margin: 0;

	> li {
		margin: 0 13px;
		height: 8px;
		font-size: 0;

		&:before {
			display: none;
		}

		&.slick-active {
			button {
				background-color: #fff;
			}
		}
	}

	button {
		font-size: 0;
		padding: 0px;
		border-radius: 50%;
		opacity: 0.9;
		border: 2px solid #ffffff;
		width: 8px;
		height: 8px;
		background: transparent;
		outline: none;
	}
}