.footer .container {
    margin-right: auto;
    margin-left: auto;
}
footer .footer-logo-img {
    margin-bottom: 28px;
}

.main-info {
    font-size: 14px;
    line-height: 162%;
    margin-right: 80px;
}
.main-info__list {
   padding: 0;
}
.social-link {
    color: #fff;
}
.no-decor {
    text-decoration: none;
}

.social-link-img {
    width: 33px;
    height: 34px;
}
.footer-row {
    display: flex;
}
.footer-nav__list {
    padding: 0;
}
.footer-nav__list-item {
    list-style: none;
    margin-bottom: 10px;
    margin-top: 0;
}
.footer-nav-link {
    color: #85899c;
}
.footer .container {
    margin-bottom: 59px;
    position: relative;
     &::after {
         content: "";
         position: absolute;
         width: 1140px;
         height: 2px;
         top: -40px;
         left: 17px;
         background-color: $color-primary;
}
}

.footer-nav__container {
    display: flex;
    width: 100%;
    max-width: 709px;
    justify-content: space-between;
    margin-left: 24px;
}