.questions {
  .template-title {
    margin-left: auto;
    margin-right: auto;
    &.col-lg-7 {
      margin-bottom: 47px;
      text-align: left;
      &::after {
        left: 43.2%;
		    top: calc(100% - 3px);
      }
  }
  }
}
.questions .accordion-header {
    overflow: hidden;
  }

  .question-accordion {
    max-width: 740px;
  }

 .accordion .accordion-item {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 2px;
    border: 1px solid $bg-secondary;
    border-radius: 10px;

    max-width: 716px;  // new
    height: 100%;
    background: transparent;
  }

  .accordion-body {
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 21px ;
  }
  
  .accordion-item:last-child {
    margin-bottom: 0;
  }

  .accordion-button {
    background-color: $bg-primary;
    padding: 21px 34px 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: #fff;
    border-radius: 10px;
    position: relative;
  }

  .accordion-button:not(.collapsed) {
    color: $bg-primary;
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-radius: 10px 10px 0 0;
    padding-bottom: 2px;
    margin-bottom: 0;
  }

.accordion-button:focus-visible,
.accordion-button:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.accordion-button::after {
  position: absolute;
  flex-shrink: 0;
  width: 27px;
  height: 27px;
  // top: calc(50% - 13px);
  right: 19px;
  background: url(assets/img/arrow-circle-left.png);
}
.accordion-button:not(.collapsed)::after {
  position: absolute;
  background: url(assets/img/arrow-circle-up.png);
  transform: rotate(1turn);
}

 .question-form {
  max-width: 390px;
  background: $bg-secondary;
  border-radius: 20px;
  padding: 38px 40px;
  margin-bottom: 100px;

    &__header {
      font-weight: 700;
      font-size: 24px;
    }

    p {
    font-weight: 300;
    font-size: 17px;
    line-height: 126%;
  }

  input {
    margin-bottom: 14px;
    border-radius: 10px;
    padding: 16px 19px;
    width: 100%;
  }


   input:last-of-type {
    min-height: 70px;
    margin-bottom: 0px;
    margin-bottom: 26px;
   }

   .btn {
    width: 100%;
   }
}