.template-subtitle {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.template-title {

    h2:after {
    display: none;
}
}
.registration-row {
    display: flex;
    gap: 57px;
}