.template-subtitle {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.registration-row {
    display: flex;
     
}

.registration-row-1 {
  
   gap: 57px;
    // .registration-img {
        // margin-top: -23px;
    // }
}
.registration-row-2 {
    gap: 45px;
    // .registration-img {
        // margin-top: -23px;
        // margin-left: -32px;
    // }
}
.registration-descr .btn {
    margin-top: 57px;
}