.services {
    .template-card {
        position: relative;
        border-radius: 20px;
        margin-top: auto;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #040511e8 0%, #58585800 100%);
            z-index: 1;
        }

        .img-box {
            img {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
            }
        }
        
   &-title,
   &-description,
   &-row {
    z-index: 1;
   }

   &-title {
    margin-top: auto;
    text-align: left;
   }
   &-description {
    margin-bottom: 14px;
   }
   &-row {
    margin-top: initial;
   }
    }

}