$font-primary: "ProximaNova";
$color-primary: #e58d35;
$color-secondary: #89c249;
$bg-primary: #282b38;
$bg-secondary: #363a4d;
$text-color: #fff;
$container-padding: 15px;
$container-mobile-padding: 20px;

$section-margin-lg: 100px;
$section-margin: 60px;

@mixin fieldState {
	&:hover {
		box-shadow: 0px 0px 3px 3px $color-primary;
	}

	&:focus {
		box-shadow: 0px 0px 3px 3px $color-secondary;
	}

	&:active {
		box-shadow: 0px 0px 10px 3px $color-secondary;
	}

	&:focus-visible {
		outline: none;
	}
}


@mixin default-bg-lg {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $section-margin-lg;
	max-width: 1920px;
	padding: 90px 85px 100px;
	position: relative;

	&:before {
		content: "";
		border-radius: 20px;
		position: absolute;
		left: 42px;
		right: 42px;
		top: 0;
		height: 100%;
		background-color: $bg-secondary;
		z-index: -1;
	}

}

@mixin default-bg {
	padding: 55px 0 60px;

	&:before {
		border-radius: 0;
		left: 0;
		right: 0;
	}
}
