<section class="advantages has-bg">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="slider-advantages row">
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-4.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Таможенное оформление груза</h6>
            </div>
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-1.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Страховка груза</h6>
            </div>
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-6.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Проверка товара на брак</h6>
            </div>
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-3.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Доставка в любой город Украины</h6>
            </div>
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-7.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Консолидация на складе</h6>
            </div>
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-5.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Ответственное хранение груза</h6>
            </div>
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-2.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Помощь в оплате товара</h6>
            </div>
            <div class="advantages-item col-lg-3">
                <div class="advantages__img-wrapper">
                    <img src="assets/img/advantage-8.svg" class="advantages__img" alt="advantages">
                </div>
                <h6 class="advantages__title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h6>
            </div>
        </div>
    </div>
</section>