<section class="delivery">
    <div class="container">
        <div class="template-title">
          <h2>Варианты доставки грузов из Китая</h2>
        </div>

         <div class="slider-template">
       
            <div class="slick-item">
                <div class="template-card">

                    <div class="img-box">
                        <img src="assets/img/delivery-1.png" class="template-card-img" alt="delivery">
                    </div>
       
                        <h4 class="template-card-title">Авто - обычная</h4>
       
                   <div class="template-card-options">
                       <div class="card-option card-option-terms"><img src="assets/img/icon-calendar.svg" alt="calendar">9-15 дней</div>
                       <div class="card-option card-option-weight"><img src="assets/img/icon-box.svg" alt="box">от 5 кг</div>
                   </div>
       
                   <div class="template-card-price">
                       <span class="grey-color">от</span>
                       <b>2,5</b>
                       <span>$/кг</span>
                   </div>
       
                   <div class="template-card-row">
                       <button type="button" class="btn btn-primary">Оставить заявку</button>
                       <button type="button" class="btn btn-secondary">Подробнее</button>
                   </div>
                   
               </div>
            </div>

            <div class="slick-item"><img src="assets/img/delivery-2.png" alt="delivery"></div>
            <div class="slick-item"><img src="assets/img/delivery-3.png" alt="delivery"></div>
            <div class="slick-item"><img src="assets/img/delivery-4.png" alt="delivery"></div>
            <div class="slick-item"><img src="assets/img/delivery-5.png" alt="delivery"></div>
      </div>
    </div>
</section>