<div class="slick-carousel">
	<div>your content</div>
	<div>your content</div>
	<div>your content</div>
</div>

<section>
	<div>
		<div class="row">
			<div class="column">
				<div class="colors"></div>
				<div class="colors"></div>
			</div>

			<div class="column">
				<div class="colors"></div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="markup__ol-box">
		<h4 class="markup__title">Font-family</h4>
		<ul>
			<li>ProximaNova</li>
		</ul>
	</div>

	<div class="markup__ol-box">
		<h4 class="markup__title">Font-weight</h4>
		<ol>
			<li class="fw-300">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, eum
			</li>
			<li class="fw-400">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, eum
			</li>
			<li class="fw-600">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, eum
			</li>
			<li class="fw-700">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, eum
			</li>
		</ol>
	</div>

	<div class="col-md-4">
		<div class="markup__ol-box">
			<h4 class="markup__title">Titles style</h4>
			<div class="h1"></div>
			<div class="h2"></div>
			<div class="h3"></div>
			<div class="h4"></div>
			<div class="h5"></div>
			<div class="h6"></div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="markup__check-box">
			<h4 class="markup__title">Checkbox, radio-button</h4>
			<div class="check-button"></div>
		</div>
	</div>

	<div>
		<ul>
			<li><a class="primary-button" href="#">Button</a></li>
			<li><a class="primary-button" href="#">Button</a></li>
			<li><a class="primary-button" href="#">Button</a></li>
		</ul>
	</div>
</section>

<section class="example">
	<div class="container">
		<h3>Fancy box</h3>
		<a href="cat-1" data-fancybox>
			<img id="cat-1" src="../assets/img/cat-1.png" alt="cat" />
		</a>

		<a href="cat-2" data-fancybox>
			<img id="cat-2" src="../assets/img/cat-2.png" alt="cat" />
		</a>
	</div>
</section>
